/*! imports */
@font-face {
    font-family:'Kumbh Sans' ;
    src: url(./Kumbh_Sans/static/KumbhSans-Regular.ttf);
    font-weight:400 ;
}
@font-face {
    font-family:'Kumbh Sans' ;
    src: url(./Kumbh_Sans/static/KumbhSans-Bold.ttf);
    font-weight:700 ;
}
/*! reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*! global */
:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}
body{
    background-image:url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position:-750px -600px, 120px 300px;
    background-size:auto,auto;
    background-repeat: no-repeat,no-repeat;
    background-color: var(--Dark-cyan);
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Kumbh Sans';
}
/*! body */
main{
    background-color: white;
    width: 72%;
    margin: 10em auto;
    border-radius: .625em;
    -webkit-border-radius: .625em;
    -moz-border-radius: .625em;
    -ms-border-radius: .625em;
    -o-border-radius: .625em;
} 
header :first-child{
    border-top-left-radius: .625em;
    border-top-right-radius: .625em;
}
header :nth-child(2){
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 6px solid white;
    margin: -3em auto 0 auto;   
}
section p{
    color: var(--Dark-gray);
    margin-bottom: 1em;
    font-size: 15px;
}
section b{
    color: black;
    
}
footer{
    margin: 1em auto;
}
.div{
    display: inline-block;
    width: 20%;
    margin-bottom: 1em;
    margin-left: 1em;
}
.div span{
    color: var(--Dark-gray);
    font-size: 12px;
    
}
/*! media query */
@media screen and (min-width:1200px){
    body{
         background-image:url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
         background-position:-210px -550px, 800px 300px ;
         background-size:auto,auto;
         background-repeat: no-repeat,no-repeat;
    }
    main{
        width: 20%;
    }
}